@import url("/assets/css/main.css");

#blueName {
  text-align: center;
  position: fixed;
  left: 19%;
  top: 2%;
  z-index: 1;
  width: 20.5%;
}

#orangeName {
  text-align: center;
  position: fixed;
  left: 60%;
  top: 2%;
  z-index: 1;
  width: 20.5%;
}

#blueScore {
  z-index: 2;
}

#orangeScore {
  z-index: 2;
}

#series {
  text-align: center;
  position: fixed;
  left: 45%;
  top: 11%;
  z-index: 1;
  width: 10%;
  font-size: 1.65vmin;
}
